.container{
  margin: 0 auto;
}

.page-container{
  margin-bottom: 50px;
}

.show-title{
  margin: 20px auto;
}

.description-booking{
  display: flex;
}

.description{
  width: 70%;
}

.amenities{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.amenity-item{
  display: flex;
}

.booking{
  width: 30%;
  margin-left: 50px;
  border: solid 1px lightgray;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 30px;
  background-color: white;
}

#show-image{
  width: 100%;
  margin-bottom: 50px;
  object-fit: cover;
  height: 500px;
  border-radius: 16px;
}
