<nav class="navbar sticky-top navbar-light bg-primary">
  <div class="container">
    <a id="logo" href="#">Luxury BnB</a>
    <button type="button" class="btn btn-outline-light">Sign-in</button>
  </div>
</nav>