<nav class="navbar sticky-top navbar-light bg-primary">
  <div class="container">
    <a id="logo" href="/flats">LuxuryBnB</a>
    <div>
      <% if user_signed_in? %>
        <%= link_to "Post your home", new_flat_path, class: "btn btn-outline-light" %>
        <%= link_to "Sign-out", destroy_user_session_path, class: "btn btn-outline-light" %>
      <% else %>
        <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-outline-light" %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-outline-light" %>
      <% end %>
    </div>
  </div>
</nav>
