<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<div class="hero">
<!--   <video autoplay muted loop id="myVideo">
    <source src="/jiehuzhao/Downloads/production%20ID_4069480.mp4" type="video/mp4">
  </video> -->
  <div class="container h-100 d-flex flex-column justify-content-between">
<!--       <form>
        <input type="text" class="search-input" placeholder="Search">

        <button type="submit" class="btn btn-primary">Search</button>
      </form> -->
    <div class="search-form">
       <%= form_tag flats_path, method: :get do %>
       <div class="form-row">
        <div class="col-7"><%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a luxury home..."
        %></div>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
    <div class="hero-content">
      <h1><span id="title"></span></h1>
      <p>Enjoy the finest homes all around the world.</p>
      <a href="/flats" class="btn btn-primary" >Explore nearby</a>
    </div>
    <div></div>
  </div>
</div>
<!-- class="search-form form-inline" align="center" -->
