<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<div class="hero">
  <div class="container h-100 d-flex flex-column justify-content-between">
    <div class="search-form" align="center">
      <form>
        <input type="text" class="search-input" placeholder="Search">

        <button type="submit" class="btn btn-primary">Click Me</button>
      </form>
    </div>
    <div class="hero-content">
      <h1>The world's most extraordinary homes.</h1>
      <p>Lorem ipsum, dolor sit amet consectetur, adipisicing elit.</p>
      <a href="/flats" class="btn btn-primary" >Explore nearby</a>
    </div>
    <div></div>
  </div>
</div>
